{{ template "layout.html" . }}

{{ define "subscriptions" }}

<p class="pt-3 pl-3">
  <a href="{{urlFor "validate-all-subscriptions"}}" class="btn btn-primary mb-2">Validate All</a>
</p>

<table class="table mt-2">
  <thead>
    <tr>
      <th>Name</th>
      <th>E-mail</th>
      <th>Valid</th>
      <th>Score</th>
      <th>Suggestion</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    {{ range $i, $el := index . "subscriptions" }}
    <tr>
      <td>{{.Name}}</td>
      <td>{{.Email}}</td>
      <td>{{.EmailVerificationResponse.Valid}}</td>
      <td>{{.Score}}</td>
      <td>{{.Suggestion}}</td>
      <td><a class="validate" href="{{urlFor "validate-email" .Email}}">Validate</a></td>
      <td><a class="delete" href="{{ urlFor "delete-email" .Email}}">Delete</a></td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}
